<a href="https://colab.research.google.com/github/aldwsryshdha30-glitch/Lab2ML/blob/main/Lab2ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# put your CSV path here
csv_path = "/content/global_cars_enhanced.csv"

df = pd.read_csv(csv_path)

print("Shape:", df.shape)
print("\nFirst 5 rows:")
print(df.head())

print("\nColumns and data types:")
df.info()

Shape: (300, 16)

First 5 rows:
     Car_ID     Brand  Manufacture_Year  Body_Type Fuel_Type Transmission  \
0  CAR_0001  Mercedes              2006        SUV    Petrol       Manual
1  CAR_0002    Nissan              2023      Coupe    Petrol    Automatic
2  CAR_0003    Nissan              2007  Hatchback    Diesel       Manual
3  CAR_0004    Nissan              2013      Coupe    Petrol       Manual
4  CAR_0005   Hyundai              2009  Hatchback    Hybrid    Automatic

   Engine_CC  Horsepower  Mileage_km_per_l  Price_USD Manufacturing_Country  \
0       4089         547                17      73407                   USA
1       4618         167                25      79370                   USA
2       1802         110                16      76549                 China
3       1835         373                16      48722                   USA
4       2332         145                28      83265                    UK

   Car_Age Price_Category  HP_per_CC Age_Category  Efficiency_Score
0       20        Premium     0.1338          Old              0.35
1        3        Premium     0.0362          New              0.75
2       19        Premium     0.0610          Old              0.30
3       13      Mid-Range     0.2033          Old              0.30
4       17        Premium     0.0622          Old              0.90

Columns and data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car_ID                 300 non-null    object
 1   Brand                  300 non-null    object
 2   Manufacture_Year       300 non-null    int64
 3   Body_Type              300 non-null    object
 4   Fuel_Type              300 non-null    object
 5   Transmission           300 non-null    object
 6   Engine_CC              300 non-null    int64
 7   Horsepower             300 non-null    int64
 8   Mileage_km_per_l       300 non-null    int64
 9   Price_USD              300 non-null    int64
 10  Manufacturing_Country  300 non-null    object
 11  Car_Age                300 non-null    int64
 12  Price_Category         300 non-null    object
 13  HP_per_CC              300 non-null    float64
 14  Age_Category           300 non-null    object
 15  Efficiency_Score       300 non-null    float64
dtypes: float64(2), int64(6), object(8)
memory usage: 37.6+ KB